.speech {
    font-family: Arial,sans-serif;
    font-size: 16px;
    color: #333;
    font-style: italic;
}

.direction{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    color: brown;
    font-style: oblique;
}

.name_SOLNESS{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    color: darkblue;
    font-style: inherit;
}

.name_kAIA{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    color: rgb(255, 72, 0);
    font-style: normal;
}

h5:hover{
    text-shadow: 2px 2px 4px #000000;
    width: 12%;
    border: 1pt solid #0ff329;
}

.table{
    color: black;
    padding: 5px 5px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    border-style: solid;
    background-color: black;
    border-width: 0.5mm;
    border-radius: o.5mm;
    text-align:end;
}

.table tr:nth-child(even){
    background-color: brown;
}
.table tr:nth-child(odd){
    background-color: rgb(102, 242, 14);
}