.speech {
    font-family: Arial,sans-serif;
    font-size: 16px;
    color: #333;
    font-style: italic;
}

.dircetion{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    color: brown;
    font-style: oblique;

}

.dircetion:hover{
    background-color: darkred;
    color: azure;
}

.SOLNESS{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    color: darkblue;
    font-style: inherit;
}

.KAIA{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    color: chartreuse;
    font-style: normal;
}